/*****************************************************
CSS GENERAL
*****************************************************/

:root {
    --bg_body: #f8f9fa;
    --primary_color: #ffffff;
}

body {
    background-color: var(--bg_body);
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.p {
    padding-left: 5px;
}

.grid {
    border: 2px solid black;
}

/*****************************************************
CSS SITE "Dashboard"
*****************************************************/

/*****************************************************
HEADER
*****************************************************/

header {
    height: 70px;
}

.container_img {
    width: 180px;
}

#logo {
    width: 100%;
}

header nav {
    height: 100%;
}

header form {
    width: 79%;
}

/*****************************************************
WRAPPER
*****************************************************/

.wrapper {
    margin-top: 70px;
    overflow: hidden;
    height: calc(100vh - 70px);
}

/*****************************************************
SIDEBAR
*****************************************************/

#sidebar {
    height: 100%;
    width: 180px;
    flex-shrink: 0;
    background-color: #051e34;
    background-image: url("./img/img/sidebar-bg.png");
}

/*****************************************************
MAIN
*****************************************************/

main {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}